<a href="https://github.com/andyperlitch/ngx-super-table" class="hidden-xs">
  <img
    style="position: absolute; top: 0; right: 0; border: 0; z-index: 2000"
    src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
    alt="Fork me on GitHub"
    data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
</a>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">ngx super table</a>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#demo">Demo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/andyperlitch/ngx-super-table#installation">Installation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://andyperlitch.github.io/ngx-super-table/doc/">Documentation</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <app-demo-app></app-demo-app>
</div>
