.app-demo {
  width: 80%;
  display: block;
  margin: 0 auto;
  height: 600px;
}


.super-table-dummy-rows {
  border: none !important;
}

.super-table-enum-filter {
  position: absolute;
  background: white;
  padding: 5px 10px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 10px -1px rgba(0,0,0,0.2);
}

.super-table-body {
  display: block;
  overflow: auto;
}

.super-table-head {
  overflow-y: scroll;
  display: block;
}

.super-table {
  position: relative;
  display: block;
}

.super-table-cell {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.super-table-resizer {
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  height: 100%;
  cursor: col-resize;
}

.notch.explicit {
  background-color: rgba(22, 140, 239, 0.2);
}

.notch {
  width: 100%;
  height: 50%;
  transform: translateY(50%);
  box-shadow: inset 1px 0 #DDD;
}

.super-table-header {
  position:relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.loading-message {
  text-align: center;
}


.clear-filter {
  border-bottom: 1px solid #DDD;
  padding: 5px 0;
}

.close-dropdown {
  position: absolute;
  top: 5px;
  right: 10px;
  border: none;
  background: transparent;
  color: #CCC;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.close-dropdown:hover {
  color: #AAA;
}

.super-table-header .sort-icon {
  opacity: 1;
}
.table-header-div {
  position: relative;
}
.sort-icon {
  font-size: 70%;
  opacity: 1;
  color: #168cef;
  text-shadow: 0 1px 2px rgba(22, 140, 239, 0.6);
}
.sort-icon .no-sort {
  opacity: 0.3;
  text-shadow: none;
  color: black;
}

.super-table-text-filter {
  position: relative;
}

input {
  width: 100%;
  font-size: 90%;
  border: none;
  border-radius: 0;
}

.hasContent {
  background: #dff7ff;
}

.clear-btn {
  position: absolute;
  background: transparent;
  color: black;
  right: 0;
  top: 0;
  border: none;
  font-size: 120%;
}


td {
  padding: 0 !important;
  border: none !important;
  background-repeat: repeat;
  background-position: 0 -1px;
}

table {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 0;
}

thead.sizing-thead th {
  padding: 0 !important;
  border-width: 0;
}

tbody.dummy-rows, tbody.visible-rows {
  border-top: none;
}
